/bin/AnyCPU
/.vs/ProjectEvaluation 
/XAML.Converter/obj
/.vs/XAML.Converter
/XAML.Converter.MAUI/bin/Debug
/XAML.Converter.Avalonia/bin/Debug/net8.0
/XAML.Converter.Avalonia/obj
/XAML.Converter.MAUI/obj
/XAML.Converter.Wpf/obj
/.vs/XAML.Popup
/XAML.Popup/obj
/XAML.Popup.Wpf/obj
